.MainTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: 'center';
    color: #111;
    margin-bottom: 15px;
    font-size: 1em;
    text-indent: 0px;
}
