
$border: 1px solid #111;

.main-container {
  border-top: $border;
  position: absolute;
  top: 56px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: auto;
  display: flex; 
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}


.left-column {
  border-right: $border;
  display: flex;
  flex: 10%;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.main-body {
  flex: 80%;
}